body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    border-radius: 15px;
}

.container {
    min-height: 100vh;
}

.btn {
    font-size: 18px !important;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #C0C0C0;
}

.btn-border {
    border: 1px solid black;
}

.green {
    color: green;
}

.red {
    color: red;
}